* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Be Vietnam', sans-serif;
}

/*============
   Typography
  ============*/

.index {
	font-size: 2em;
	font-weight: 600;
	padding: 1rem 0;
}

/*============
     Layout
  ============*/

h1 {
	padding: 1rem;
	text-align: center;
}

img {
	width: 80%;
}

.pyjamas {
	display: flex;
	justify-content: center;
}

nav ul {
	border: 2px solid #000;
	height: 250px;
	overflow: scroll;
}

nav li {
	padding: 1rem;
	border-bottom: 1px solid gray;
}

nav li:first-child {
	border-top: 1px solid gray; 
}

nav a {
	text-decoration: none;
	color: #000;
}

#main-doc {
	padding: 1em;
}

p {
	padding: 1em 1em 1em 0;
}

.ul_body {
	padding-left: 1em;
}

.lista-links {
	margin: 0 0 2em 2em;
}

@media (min-width: 600px) {
	body {
		display: flex;
	}

	nav ul {
		border: none;
		border-right: 1px solid gray;
		height: 100%;
		overflow: visible;
	}

	.nav-container {
		width: 20%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		overflow: scroll;
	}

	.main-doc {
		width: 77%;
		position: absolute;
		top: 0;
		right: 0;
		max-height: 100%;
	}
}